rasterio
numpy
pandas
geopandas
shapely
cdsapi
xarray
rioxarray
netCDF4
owslib
ipykernel
ipywidgets 
matplotlib
djangorestframework
filelock
seaborn
scikit-image
beautifulsoup4
h5netcdf
rasterstats
glob2
bs4