rasterio
pyproj
numpy
pandas
geopandas
shapely
cdsapi
xarray
rioxarray
netCDF4
owslib
ipykernel
ipywidgets 
matplotlib
filelock
seaborn
scikit-image
beautifulsoup4
h5netcdf
rasterstats
glob2
bs4
snakemake
pyarrow
fastparquet
mkdocs
mkdocs-material
mkdocs-macros-plugin