climate: energiecottbus
atmposhere: energiecottbus1966
FDPG: EnergieCottbusQ!66
NH: EnergieCottbusQ!66
ECMWF: EnergieCottbusQ!66
EULogin (treecover): EnergieCottbusQ!66
https://dataspace.copernicus.eu/: EnergieCottbusQ!66
gL: qaywsxQAYWSX
mii academy: EnergieCottbusQ!66
ukbb: marcel.jentsch/EnergieCottbusQ!66
MRC Regulatory Support Centre Learning Management System: marcel.jentsch/EnergieCottbusQ!66
Nasa earth data login: jentmar/EnergieCottbusQ!66
NUM: EnergieCottbusQ!66
Imagen: mjentsch:EnergieQ!66
Imagen cloud: EnergieQ!666
SBHD : EnergieQ!66
stadtradeln: energiecottbus1966
ISMB/ECCB: EnergieCottbusQ!66
Sequencing Planet Earth: EnergieCottbusQ!66
sap: E..C..s66!!
dzg cloud: 
NAKO: KaRR&/*4p45skka oder LSBNfHALfH 